<fragment>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><div id="brand-name">placeholder</div></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="links-nav-list">
            <li id="list_1"><div id="nav_link_1">placeholder</div></li>
            <li id="list_2"><div id="nav_link_2">placeholder</div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</fragment>
